<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= form.label :employee_code %>
    <%= form.text_field :employee_code, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= form.label :work_email %>
    <%= form.text_field :work_email, class: "form-control form-control-lg" %>
  </div>

  <div class="form-group">
    <%= form.label :profile_image %><br>
    <%= form.file_field :profile_image %>
  </div>

  <div class="form-group">
    <%= form.label :contact_number %>
    <%= form.text_field :contact_number, class: "form-control form-control-lg" %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary btn-lg' %>
    <%= link_to 'Back', employees_path, class: 'btn btn-secondary btn-lg' %>
  </div>
<% end %>
